<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div id="navbar-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <a href="index.html" id="logo">fast-food-fast</a>
            <ul id="main-nav">
                <li>
                    <a class="nav-links" href="menu.html">menu</a>
                </li>

            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="row hero-container">
                <div class="col-12 hero" id="hero">
                    <div class="row overlay-container">
                        <div class="col-12" id="hero-overlay">
                            <div class="row caption-container">
                                <div class="col-10 caption">
                                    <div class="row">
                                        <div class="col-12">
                                            <p id="home-page-text">Home of beautiful Intercontinental cuisins and fast
                                                delivery.</p>
                                            <p id="home-page-signup-text">Sign up and lets feed you</p>
                                        </div>
                                    </div>
                                    <div class="row landing-page-button-container">
                                        <div class="col-12 home-buttons">
                                            <a href="signup.html" id="sign-up">Sign up</a>
                                            <a href="login.html" id="logIn-button">Log In</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-container">
                <div class="col-11 card-sub-container">
                    <div class="row">
                        <div class="col-12 section-caption">
                            <p>Popular Foods</p>
                        </div>
                    </div>
                    <div class="row parent-container">
                        <div class="col-12 card">
                            <a href="menu.html">
                                <img src="image/ofada-sauce1.jpg" class="food-image" alt="food image">
                            </a>
                            <div class="row food-descrition-container">
                                <div class="col-7 food-descrition">
                                    <ul class="food-name-ul">
                                        <!-- food details go here -->
                                        <li>
                                            <span class="food-name">Ofada Rice & Stew</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 food-descrition">
                                    <ul>
                                        <li>
                                            <!-- <span class="facts">Price:</span> -->
                                            <span class="Price"> &#8358;3500</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 card">
                            <a href="menu.html"><img src="image/sbs-jollof.jpg" class="food-image" alt="food image"></a>
                            <div class="row food-descrition-container">
                                <div class="col-7 food-descrition">
                                    <ul class="food-name-ul">
                                        <!-- food details go here -->
                                        <li>
                                            <span class="food-name">Jollof Rice & Chicken</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 food-descrition">
                                    <ul>
                                        <li>
                                            <!-- <span class="facts">Price:</span> -->
                                            <span class="Price"> &#8358;6500</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 card">
                            <a href="menu.html">
                                <img src="image/Afang-soup-16.jpg" class="food-image" alt="food image">
                            </a>
                            <div class="row food-descrition-container">
                                <div class="col-7 food-descrition">
                                    <ul class="food-name-ul">
                                        <!-- food details go here -->
                                        <li>
                                            <span class="food-name">Afang soup</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 food-descrition">
                                    <ul>
                                        <li>
                                            <!-- <span class="facts">Price:</span> -->
                                            <span class="Price"> &#8358;2500</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 card">
                            <a href="menu.html">
                                <img src="image/pizza.jpg" class="food-image" alt="food image">
                            </a>
                            <div class="row food-descrition-container">
                                <div class="col-7 food-descrition">
                                    <ul class="food-name-ul">
                                        <!-- food details go here -->
                                        <li>
                                            <span class="food-name">Pizza</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 food-descrition">
                                    <ul>
                                        <li>
                                            <!-- <span class="facts">Price:</span> -->
                                            <span class="Price"> &#8358;5500</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row footer-container">
            <div class="col-12 footer">
                <p>Designed by:okoro Emeka © 2018
                    <a href="index.html"> Fast-food-fast </a>
                </p>
            </div>
        </div>
    </footer>
    <script src="js/main.js"></script>
</body>

</html>