*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	/* min-height: 100vh; */
	margin: 0 auto;
	padding: 0px;
	font-family: Tahoma, sans-serif;
}
.row{
	max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%
}
.container{
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	margin: auto;
	background-color: rgba(230, 230, 255,0.7);
}
.navbar{
	font-size: 18px;
	background-color: #330000;
  	padding-bottom: 10px;
}
#main-nav{
	list-style-type: none;
	display: none;
	flex-direction: column; 
}
#main-nav li{
	display: inline-block;
	text-align: center;
	margin: 15px 0px;
	/*background-color: #737373;*/
}
.nav-links,
#logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}
/*menu style*/

.cart-card{
	width: 100%;
	margin: 15px 0px;
	padding: 15px;
	border: 0px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 5px #e7e7e7;
}
.cart-wrap{
    width: 100%;
	overflow-x: auto;
}
#cart-subcontainer{
	margin: 5% auto;
	/* overflow: auto; */
}
.fa-remove{
	font-size: 26px;
}
.table{
	width: 100%;
	display: table;
	border-color: gray;
	background-color: transparent;
	border-collapse: collapse;
	margin-bottom: 20px;
}

thead,th,td{
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #e6e6ff;
	border-collapse: collapse;
	/*border-color: inherit;*/
}
tr:nth-child(even) {
    background-color: #dddddd;
}
input[type=number]{
    width: 50px;
    border: 1px solid #505057;
    border-radius: 2px;
}
.cart-order-button{
	width: 50%;
	padding-left: 5px;
}
.checkout-button,
.remove-item-button,
#modal-order-button{
    color: #ffffff;
	width: 80px;
    height: 40px;
    font-size: 16px;
    font-weight: lighter;
	padding: 5px 0px;
	border: 0px;
    border-radius: 3px;
	/* float: right; */
	box-shadow: 0 4px 4px 0px rgba(134, 130, 130, 0.4);
	transition-duration: 0.4s;
}
.checkout-button,
#modal-order-button{
	float: left;
	background-color: #0066cc;
}
.remove-item-button{
	float: right;
	background-color: #0c9c48;
}
.remove-item-button:hover{
	cursor: pointer;
	background-color: #055c29;
}
.checkout-button:hover,
#modal-order-button:hover{
    cursor: pointer;
    background-color: #0a437c;
}
.modal {
    display: none; 
    position: fixed; 
	z-index: 1; 
	left: 0;
    top: 0;
	padding-top: 100px;
	padding-left: 15px;
	padding-right: 15px; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
	border: 1px solid #888;
	width: 100%;
    height: auto;
}
#total-amount{
	margin-top: 7%;
	justify-content: center;
}
.form-input input{
	width: 100%;
	height: 30px;
	color: #000;
	padding-left: 3px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #888;
	margin-bottom: 5px;
	border-radius: 2px;
}
.form-input p{
	font-size: 15px;
	font-weight: bold;
}
#add-button{
	margin-top: 10px;
	width: 80px;
    height: 30px;
}
/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modal-order-button{
 float :right;
}

/*style for footer*/
.footer-container{
	padding: 0px;
}
.footer{
	padding: 10px 10px;
	background-color: #330000;
	color: #ffffff;
}
.footer p a{
	text-decoration: none;
	color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	#cart-subcontainer{
        width: 83.33%; 
	}
	.modal-content{
		width: 50%;
	}
}
@media only screen and (min-width: 1025px){
  .navbar{
  	display: flex;
  	justify-content: space-between;
  	padding-bottom: 0px;
  	border-top: 0px;
  	border-right: 0px;
  	border-left: 0px;
  	/*border-bottom: 0.1px solid #737373;*/
  	background-color: #330000;
  	height: 70px;
  	align-items: center;
  }  
  #main-nav{
  	display: flex !important;
  	margin-right: 30px;
  	flex-direction: row;
  }
  #main-nav li{
  	margin: 0;
  	font-size: 1rem;
  	/* font-family: 'Cookie', cursive;  */
  }
  .nav-links{
  	margin-left: 40px;
  }
  #navbar-toggle{
  	display: none;
  }
  #logo {
  	width: 200px;
  	margin-top: 0;
  	padding: 4px 3px;
  	text-align: center;
  	font-size: 1.5rem;
  	border-radius: 1px;
	/* font-family: 'Cookie', cursive;  */
  	border: 1px solid white;
  }
  /* cart style */
    #cart-table-container{
        justify-content: center;
    }
  #cart-subcontainer{
        width: 50% 
	}
	/* modal style */
	.modal-content{
		width: 25%;
	}
}