*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
	min-height: 100vh;
	margin: 0 auto;
	padding: 0px;
}
.row{
	max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%
}
.container{
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	margin: auto;
	background-color: rgba(230, 230, 255,0.7);
}
.navbar{
	font-size: 18px;
	background-color: #330000;
  	padding-bottom: 10px;
}
#main-nav{
	list-style-type: none;
	display: none;
	flex-direction: column; 
}
#main-nav li{
	display: inline-block;
	text-align: center;
	margin: 15px 0px;
	/*background-color: #737373;*/
}
.nav-links,
#logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}
/*menu style*/
.menu-container,
#overlay-container{
	margin: 0px;
	padding: 0px;
}
#menu-banner{
	height: 400px;
	background-color: #333333; 
	background-image:  url('../image/pizza.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma, sans-serif; 
}
#banner-caption-container{
	width: 100%;
	min-height: 100%;
	color: white;
	font-size: 2.5rem;
	position: relative;
	background-color: rgba(0, 0, 0, 0.2);
}
#banner-caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.food-cards-container{
	margin:3% 0;
	justify-content: center;
}
.food-cards-sub-container{
	justify-content: center;
	margin-bottom: 3%;
}
.food-card{
	width: 100%;
	/*background-color: #330000;*/
	/*overflow: hidden;*/
	padding: 5px;
	/*color: #ffffff;
	margin-bottom: 10px;
	box-shadow: 5px 5px 3px 0px rgba(153,153,153,0.9);
	border-radius: 10px;*/
}
.food-card-child{
	background-color: #330000;
	width: 100%;
	/*height: auto;
	padding:3px;*/
	overflow: hidden;
	padding: 5px;
	color: #ffffff;
	margin-bottom: 10px;
	box-shadow: 5px 5px 3px 0px rgba(153,153,153,0.9);
	border-radius: 10px;
}
.food-image{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.food-details ul{
	display: inline;
	list-style-type: none;
}
.facts{
	font-weight: bold;
	font-size: 1em;
	color: #a58b8b;
	margin: 0px;
}
.order-button,
.add-to-cart-button{
	padding-bottom: 10px;
}
.order-button button,
.add-to-cart-button button{
	padding: 12px 20px;
	border:none;
	background-color: #0275d8; 
    border: none;
    color: white;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.4);
    transition-duration: 0.4s;
}
.add-to-cart-button button{
	float: right;
	background-color: #ff9900;
}
/* Pagination links from W3Schools*/
.pagination a {
    color: black;
    font-size: 16px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
/*style for footer*/
.footer-container{
	padding: 0px;
}
.footer{
	padding-left: 5px;
	background-color: #330000;
}
/* Dashboard style */
#dashbord-container{
	margin: auto;
	padding: 0;
}
#dashbord{
	padding-top: 10px;
	padding-left: 30px;
	background-color: #ffffff;
}
#dashbord-word{
	font-size: 25px;
}
#glyhpicons{
	float: right;
	padding-right: 20px;
}
#email-glyph{
	padding-right: 15px;
}
/*#admin-menu{
	width: 100%;
}*/
#admin-menu,#accepted-oders,
#admin-action{
	width: 100%;
	padding: 20px;
}
.menu-card,
.order-card{
	width: 100%;
	margin: 15px 0px;
	padding: 15px;
	border: 0px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 5px #e7e7e7;
}
.add-menu-item,
.order-body{
	width: 100%;
	/*max-width: 100%;*/
}
.table{
	width: 100%;
	/*max-width:100%;*/
	margin-bottom: 20px;
}
table{
	/*table-layout: fixed;*/
	/*max-width: 100%;*/
	width: 100%;
	display: table;
	border-color: gray;
	background-color: transparent;
	/*border-spacing: 0;*/
	border-collapse: collapse;
}
thead,th,td{
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #e6e6ff;
	border-collapse: collapse;
	/*border-color: inherit;*/
}
.menu-card-button button,
.accept-button,
.reject-button{
	color: #ffffff;
	padding: 8px 20px;
	border: 0px;
	border-radius: 3px;
	box-shadow: 0px 3px 2px #e7e7e7;
	transition-duration: 0.5s;
}
.accept-button,
.reject-button,
.menu-card-button button:hover{
	cursor: pointer;
}
.accept-button{
 background-color: #0066cc;	
}
.reject-button{
	background-color: #ff0000;
}

/*profile stle*/
.profile-container{
	justify-content: center;
}
.profile-picture-container,
.profile-details-container{
	width: 100%;
}
.image-container{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.profile-heading{
	text-align: center;
}
#profile-button button,
 #edit-profile-save-button,#edit-profile-cancel{
	width: 100px;
	height: 40px;
	color: #ffffff;
	font-size: 1rem;
	border: 0px;
	margin-right: 10px;
	box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.7);
	border-radius: 5px;
	background-color: #005ce6;
	transition-duration: 0.5s;
}

/*edit profile*/
.edit-first-name input,
.edit-last-name input,
.edit-email input,
.edit-telephone input,
.edit-address input {
	width: 100%;
	height: 40px;
	padding: 2px;
	/*border: 1px solid #eaeae1;*/
	border-radius: 3px;
}
.profile-details-fact,
.edit-first-name p,
.edit-last-name p,
.edit-email p,
.edit-telephone p,
.edit-address p{
	font-size: 1rem;
	color: #000000;
	font-weight: bold;
}
.edit-address{
	padding: 5px;
}
#edit-profile-cancel{
	background-color: #800000;
}
@media (min-width: 768px) and (max-width: 1024px){
	.food-card{
		width: 50%;
	}
}
@media only screen and (min-width: 1025px){
  .navbar{
  	display: flex;
  	justify-content: space-between;
  	padding-bottom: 0px;
  	border-top: 0px;
  	border-right: 0px;
  	border-left: 0px;
  	/*border-bottom: 0.1px solid #737373;*/
  	background-color: #330000;
  	height: 70px;
  	align-items: center;
  }  
  #main-nav{
  	display: flex !important;
  	margin-right: 30px;
  	flex-direction: row;
  }
  #main-nav li{
  	margin: 0;
  	font-size: 1.5rem;
  	font-family: 'Cookie', cursive; 
  }
  .nav-links{
  	margin-left: 40px;
  }
  #navbar-toggle{
  	display: none;
  }
  #logo {
  	width: 200px;
  	margin-top: 0;
  	padding: 4px 3px;
  	text-align: center;
  	font-size: 2.0rem;
  	border-radius: 1px;
	font-family: 'Cookie', cursive; 
  	border: 1px solid white;
  }
  /*menu style*/
  .food-card{
	width: 25%;
  }
  .order-button button:hover{
	background-color: #0033cc;
  }
  .add-to-cart-button button:hover{
  	background-color: #e68a00;
  }
 /*Admin page*/
  #admin-menu{
 	width: 33.33%;
  }
  #accepted-oders{
  	width: 41.66%;
 }
 #admin-action{
 	width: 66.66%;
 }
 #profile-button button:hover{
 	cursor: pointer;
 	background-color: #0033cc;
 }
 .profile-picture-container{
	width: 25%;
}
.profile-details-container{
	width: 66.66%;
}
 .profile-details-sub-container{
 	margin-bottom: 15px;
 }
 /*edit profile*/
 #edit-profile-cancel:hover{
 	cursor: pointer;
 	background-color: #990000;
 }
 #edit-profile-save-button:hover{
 	cursor: pointer;
 	background: #0033cc;
 }
}
/*@media only screen and (min-width: 768px){
	.food-card{
		width: 50%;
	}
}*/